*{
	margin:0;
	box-sizing: border-box;
	padding: 0;

}
body{
  overflow-y: hidden;
}
.maindiv{
   width:100%;
   height:100vh;
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   font-family: 'Lato',serief;
}
.leftdiv{
   background-color:black ;
   width:20%;
   height:100%;
   padding:5px;
   display: flex;
  align-items: center;
   flex-direction: column;
  
}
.logo {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(102, 98, 81);
    padding:5px;
    width:100%;

}
.logo h2{
	color:white;
  letter-spacing: 0.2rem;
  
}
.logo i:hover{
  color:#1DB954;
}
.logo i{
	margin: 10px;
	color:white;
  transition: 1s;
}
.menu-div{
  margin-top: 5rem;
	height:10rem;
	width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
}
.menu-div ul{
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-left: -20px
}
.menu-div li{
 margin-bottom: 5px;
 color: #1DB954;#d23451;
text-align: center;
 width:100%;
 padding:3px;
list-style: none;
font-weight: 900;
font-size:1.3rem;
cursor: pointer;
}
.menu-div li:hover{
  
   color:white;
  
.rightdiv{
	width:80%;
	height:100%;
	background-color:#F4EDD2;white;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding:5px;
  overflow-y:scroll;
  overflow-x: hidden;


	
}

	.card{
        align-items:center;
        display: flex;
        flex-direction: column;
        margin-top: 5rem;
        margin-right:0.5rem;
        border-radius: 5px;
        justify-content: space-between;
       /*background:linear-gradient(#e66465, #9198e5);*/
        width:15rem;
        height:20rem;
        margin-left:1.5rem;
        
        padding:30px;

      }
      
   
   .img-container{
     width:13rem;
     height:13rem;
     margin-top:5%;
     margin-bottom: 5%;
     object-fit: cover;
   }
   .img-container img{
    width:100%;
    height:100%;
    border-radius: 5px;
    box-shadow: 1px 2px 15px #ffffff; #dce1e9;
    margin-top:0rem;
   }
   .card h2{
     font-size:20px;
     letter-spacing: 0.2rem;
     margin-top:-30px;
     margin:10px;
     width:150%;
     text-align: center;
     text-transform: uppercase;
   }
   .card p{
    margin-top:-20px;
    margin:10px;
   }
    .card_body{
      font-family: 'Lato',serif;
    }

  @media only screen and (max-width: 700px) {
    .main-div{
      overflow-y: scroll;
    }
    .menu-div{
      
      display: none;
    }
  .leftdiv {
    width:100%;
    height:auto;

      }
       .rightdiv{
      width:100%;
      align-items: center;
      display: flex;
      justify-content:center;
      
    }
    .card{
      
    }
}